body{
    margin: 0;
    background-color:cornflowerblue;
}

html{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background-color:black;
    color:darkcyan;
    padding: 3rem 2rem;
}

header h1{
    font: size 4rem;
    text-align: center;
    
}

.contenido{
    width: 400px;
    margin:0 auto;
                    
}

section article{
    transition: box-shadow 0.9s ease;
    background-color:rgb(246, 213, 48);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor:grabbing;

}

section article h2, section article p{
    margin: 1rem;


}

section article:hover{
    box-shadow: 0 1.9rem  1.9rem rgba(210, 15, 15, 0.3)
}

footer{
    background-color:black;
    padding: 1rem;
    color: ghostwhite;
    
}

footer section{
    float:unset;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color:aquamarine;
    text-decoration:dotted;
    cursor: ew-resize;
}

footer a:hover{
    color:darkorange;
}
footer p{
    transition: color 0.3s ease;
    color:aquamarine;
    text-decoration:dotted;
    cursor: ew-resize;
}

footer p:hover{
    color:darkorange;
}